<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.liang.lcommon">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".base.LApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.main2.LMainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.main.LBaseActivity">
        </activity>
        <activity android:name=".activity.demo.blog.fragment.FragmentActivity" />
        <activity android:name=".activity.demo.utils.ActivityStartAnimDemo" />
        <activity android:name=".activity.demo.view.RockerActivityDemo" />
        <activity android:name=".activity.demo.view.SettingViewDemo" />
        <activity android:name=".activity.demo.view.CircleSeekBarDemo" />
        <activity android:name=".activity.demo.utils.LKVMgrDemo" />
        <activity android:name=".activity.demo.utils.LLogDemo" />
        <activity android:name=".activity.demo.utils.BarUiDemo" />
        <activity android:name=".base.LAppActivity" />
        <activity android:name=".activity.demo.utils.AnnotationDemo" />
        <activity android:name=".activity.demo.blog.eventbus.EventBusDemo" />
    </application>

</manifest>